:root {
    /* Color styles */
    --dark: #000000;
    --quite-dark: #141922;
    --dark-grey: #282828;
    --grey: #C1C1C1;
    --accent: #ADFF2F;
}


header {
    position: fixed;
    width: calc(100% - 230px);
    top: 0;
    left: 230px;
    height: 70px;
    background-color: #0007;
}

header a {
    margin-right: 3rem;
    text-transform: uppercase;
    border: 1px solid #eee;
    color: #eee;
    padding: .5rem 2rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: all .2s;
}

header a:hover {
    transform: scale(1.1);
    filter: brightness(1.5);
}

/* main */
main {
    overflow: hidden;
}

/* sidebar */
#logoContainer {
    height: 70px;
    padding: 0 1rem;
}

#sidebar {
    max-width: 230px;
    width: 230px;
    min-height: calc(100% - 100px);
    height: calc(100% - 100px);
    transition: all .3s;
}

#sidebar nav ul li {
    border-left: 4px solid transparent;
}

#sidebar nav ul li:first-child {
    border-left: 4px solid var(--accent);
}

#sidebar nav ul li img {
    width: 15%;
    margin: 0 0 0 1rem;
    filter: brightness(.6);
}

#sidebar nav ul li {
    padding: .5rem 0;
    font-size: .8rem;
}

#sidebar nav ul li a {
    margin-left: .8rem;
    color: var(--grey);
}

#sidebar nav ul li:hover {
    border-left: 4px solid var(--accent);
}

#sidebar nav ul li:hover a,
#sidebar nav ul li:hover img,
.playlist .flex:hover,
.playlist ul li:hover {
    filter: brightness(1.5);
    cursor: pointer;
}

#sidebar h2 {
    font-size: .8rem;
}

.addIcon {
    font-size: 1.6rem;
    width: 40px;
    height: 40px;
    margin-right: 1rem;
}

.playlist ul li {
    color: var(--grey);
    padding: .5rem 0;
}

#sidebar hr {
    border-bottom: 0;
}

.sidebarFooter {
    width: 100%;
}

.sidebarFooter i {
    margin-right: .5rem;
}

.sidebarFooter i {
    width: 30px;
    height: 30px;
    border: 1px solid var(--grey);
    border-radius: 50%;
    font-size: .8rem;
    background-color: var(--grey);
}

.sidebarFooter div.download {
    font-size: .6rem;
}

.sidebarFooter div.download i {
    width: 20px;
    height: 20px;
    font-size: .6rem;
    background-color: transparent;
}




/* main content */
#content {
    max-width: calc(100% - 230px);
    width: calc(100% - 230px);
    overflow-y: auto;
    min-height: calc(100% - 100px);
    height: calc(100% - 100px);
    margin-top: 70px;
}

/* playbar */
#playBar {
    height: 100px;
    bottom: 0;
}

.w-230 {
    width: 215px;
}

#trackProgress {
    width: 55%;
    background-color: var(--grey);
    padding: .2rem 0;
    margin: 0 1rem;
    cursor: pointer;
    transition: all .3s;
}
#trackProgress .progress{
    width: 20%;
    background-color:#64666b;
    padding: .2rem 0;
    top: 0;
    cursor: pointer;
    transition: all .3s;
}

#trackProgress:hover div:first-child {
    width: 20%;
    background-color: var(--accent);
    padding: .2rem 0;
    top: 0;
    cursor: pointer;
    transition: all .3s;
}
#trackProgress:hover .progress{
    display: none;
    transition: all .3s;
}
#trackProgress:hover div.progressHover{
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    top: 0;
    left: 20%;
    transform: translate(-50%, -30%);
    cursor: pointer;
   
}


@media screen and (max-width: 575px) {
    header {
        width: calc(100% - 50px);
        top: 0;
        left: 50px;
    }

    header a {
        font-size: .8rem;
    }

    .xs-hidden {
        display: none;
    }

    .xs-visible {
        display: block;
    }

    #logoContainer {
        padding: 0 .5rem;
    }

    #sidebar {
        width: 50px;
        min-height: calc(100% - 100px);
        height: calc(100% - 100px);
    }

    #content {
        max-width: calc(100% - 50px);
        width: calc(100% - 50px);
    }

    #sidebar nav ul li img {
        width: 100%;
        margin: 0;
        padding: .4rem;
    }

    .sidebarFooter i {
        margin-right: 0;
    }

    .sidebarFooter i {
        width: 20px;
        height: 20px;
        border: 1px solid var(--grey);
        border-radius: 50%;
        font-size: .6rem;
        background-color: var(--grey);
    }

    .sidebarFooter div.download {
        font-size: .6rem;
    }

    .sidebarFooter div.download i {
        width: 20px;
        height: 20px;
        font-size: .6rem;
        background-color: transparent;
    }

    /* playbar */
    .wrap {
        flex-wrap: wrap;
    }
    .controlsAndProgress{
        padding: 0 .5rem;
    }
   
}