header {
    position: fixed;
    width: calc(100% - 230px);
    top: 0;
    left: 230px;
    height: 70px;
    background-color: #0007;
}

header a {
    margin-right: 3rem;
    text-transform: uppercase;
    border: 1px solid white;
    padding: .5rem 2rem;
    border-radius: 2rem;
    cursor: pointer;
}
header a:hover{
    transform: scale(1.1);
}

/* main */
main{
    overflow: hidden;
}
#sidebar {
    max-width: 230px;
    width: 230px;
    min-height: calc(100% - 80px);
    height: calc(100% - 80px);
    transition: all .3s;
}

#content {
    max-width: calc(100% - 230px);
    width: calc(100% - 230px);
    overflow-y: auto;
    min-height: calc(100% - 80px);
    height: calc(100% - 80px);
    margin-top: 70px;
}

#playBar {
    height: 80px;
    bottom: 0;
}

@media screen and (max-width: 575px){
    header{
        width: calc(100% - 50px);
        top: 0;
        left: 50px;
    }
    header a{
        font-size: .8rem;
    }
    .xs-hidden{
        display: none;
    }
    .xs-visible{
        display: block;
    }
    #sidebar {
        width: 50px;
        min-height: calc(100% - 80px);
        height: calc(100% - 80px);
    }
}
